body {
	background-image: url("../images/background_img.jpg");
}	

p {
	color: green;
}

.row {
	margin: 10px 0px 10px 0px;
}	

.row:after {
	display: block;
	content: "";
	clear: both;
}

#header {
	background-color: orange;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	display: inline-block;
	margin: 5px;
}

.two {
	margin: 5px;
	background-color: #FEE2C0;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	width: 33%;
	font-weight: bold;
}

#three {
	margin: 5px;
	padding-right: 200px;
	background-color: 	#65EF96;
	float: left;
	display: inline-block;
	font-size: 38px;
	position: top;
	height: 160px;
}

.four {
	position: relative;
	display: inline-block;	
	margin: 5px;
	background-color: #16F5EB;
	float: left;
	align-items: left;
	height: 160px;
	color: black;
	font-weight: bold;
}

.six {
	margin: 5px;
	background-color: #1EB499;
	display: inline-block;
	width: 200px;
	color: white;
}

.seven{
	margin: 5px;
	background-color: #1EB499;
	padding-bottom: 50px;
	display: inline-block;
	width: 200px;
	color: white;
	font-size: 38px;
}

img {
	height: 100px;
	padding: 0px;
	background-color: white;
}